@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url(reset.css);



/* 변수 */

:root{
  --text-color : #F0F0F2;
  --white : #fff;
  --fz : 16px;
  --lh : 27px;
  --menu : 21px;
}

/* BODY */

body{
 color: var(--text-color);
}

/* HEADER */

header .top_nav > div{
  position: relative;
  width: 95%;
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}

.top_nav{
  width: 100%;
  height: 81px;
  position: absolute;
  margin: 0 auto;
  background: linear-gradient(rgba(0, 0, 0, .7) 81px, rgba(0, 0, 0, .5) 81px);
}

.top_nav a{
  color: var(--text-color);
}

.top_nav .logo{
  width: 130px;
  height: 35px;
  background: url(../image/Logo_sub.png) no-repeat;
  text-indent: -9999em;
}

.top_nav nav > ul{
  display: flex;
  gap: 100px;
}

.top_nav .login{
  display: flex;
}

.login{
  padding: 10px 0;
  gap: 30px;
}

nav > ul > li{
  line-height: 40px;
  position: relative;
}

nav > ul > li ul{
  display: none;
  margin-top: 20px;
  align-items: center;
  transition: 0.5s ease-out;
  position: absolute;
}

nav > ul > li:hover ul{
  display: block;
  background: rgba(0, 0, 0, .5);
}

nav > ul > li ul li{
  white-space: nowrap;
}



