@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url(reset.css);



/* 변수 */

:root{
  --text-color : #F0F0F2;
  --white : #fff;
  --fz : 16px;
  --lh : 27px;
  --menu : 21px;
  --main : 36px;
  --secondary : #333;
  --primary: #69A4F0;
}

/* BODY */

body{
  color: var(--text-color);
}

/* HEADER */

header .top_nav > div{
  position: relative;
  width: 95%;
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  white-space: nowrap;
}

.top_nav{
  width: 100%;
  height: 81px;
  position: absolute;
  margin: 0 auto;
  background: linear-gradient(rgba(0, 0, 0, .7) 81px, rgba(0, 0, 0, .5) 81px);
}

.top_nav a{
  color: var(--text-color);
}

.top_nav a{
  color: var(--text-color);
}

.top_nav .logo{
  width: 130px;
  height: 35px;
  background: url(../image/Logo_sub.png) no-repeat;
  display: block;
  text-indent: -9999em;
}

.top_nav nav > ul{
  display: flex;
  gap: 100px;
}

.top_nav .login{
  display: flex;
}

.login{
  padding: 10px 0;
  gap: 30px;
}

nav > ul > li{
  line-height: 40px;
  position: relative;
  cursor: pointer;
}

nav > ul > li ul{
  display: none;
  padding-top: 20px;
  align-items: center;
  transition: 0.5s ease-out;
  position: absolute;
}

nav > ul > li:hover ul{
  display: block;
}

nav > ul > li ul li{
  white-space: nowrap;
}

.full-video{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.full-video video{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
}

header button{
  position: fixed;
  right: 50px;
  top: 50%;
  display: flex;
  flex-direction: column;
  transform: translateY(50%);
  gap: 10px;
  border: none;
  background: none;
  z-index: 1;
}

header button i{
  font-size: 18px;
  color: var(--text-color);
}


/* MAIN */

main{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(#0D0C0B 0%, #222222 50%);
  display: flex;
  justify-content: center;
  position: relative;
}

form{
  width: 624px;
  height: 60px;
  margin-top: 103px;
  border: 1px solid var(--white);
  display: flex;
  justify-content: center;
  position: absolute;
}

form input{
  height: 100%;
  border: none;
  background: none;
  outline: none;;
}

form input::placeholder{
  border-color: var(--white);
}

form:hover{
  border: 1px solid var(--primary);
}

form:hover i{
  color: var(--secondary);
}

form:hover input::placeholder{
  color: var(--secondary);
}

form button{
  border: none;
  background: none;
  outline: none;
  color: var(--white);
}

.slide-wrapper{
  width: 1376px;
  position: relative;
  margin-top: 243px;
  overflow: hidden;
}

.slide-wrapper .slide-containar{
  display: flex;
  gap: 88px;
}


.slide-wrapper .slide-containar li{
  width: 400px;
  height: 594px;
  background: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide-wrapper .slide-containar h2{
  font-size: 36px;
  font-weight: 700;
  margin-top: 56px;
  text-align: center;
  color: var(--secondary);
}

.slide-wrapper .slide-containar li figure{
  width: 400px;
  height: 300px;
  position: relative;
  box-sizing: border-box;
  margin-top: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-wrapper .slide-containar li img{
  position: absolute;
  display: block;
}

.slide-wrapper .slide-containar li a{
  width: 300px;
  height: 54px;
  color: var(--white);
  display: block;
  box-sizing: border-box;
  margin-top: 27px;
  padding-top: 16px;
  background: var(--secondary);
  border-radius: 5px;
  text-align: center;
}

.slide-wrapper .slide-containar .pager{
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translateX(-20%);
  text-indent: -9999em;
  display: flex;
  gap: 20px;
}

.slide-wrapper .slide-containar .pager a{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #595858;
}

.slide-wrapper .slide-containar  a:hover{
  background: var(--text-color);
}

/* SECTION */


.ss-slide-wrapper{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}


.ss-slide-wrapper .ss-slide-containar{
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
}

.ss-slide-wrapper .ss-slide-containar li{
  width: 100%;
  height: 100%;
  position: absolute;
}

.ss-slide-wrapper .ss-slide-containar figure img{
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: -1;
}

.ss-slide-wrapper .ss-slide-containar li .txt{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.ss-slide-wrapper .ss-slide-containar li .txt h3{
  font-size: 65px;
  font-weight: 700;
  margin-top: 16px;
}

.ss-slide-wrapper .ss-slide-containar li .txt h4{
  font-size: var(--main);
  font-weight: 700;
}

.ss-slide-wrapper .ss-slide-containar li .txt p{
  font-size: var(--menu);
  font-weight: 700;
  margin-top: 16px;
}

.ss-slide-wrapper .ss-slide-containar .ss-slide1{
  left: 0;
}

.ss-slide-wrapper .ss-slide-containar .ss-slide2{
  left: 100%;
}

.ss-slide-wrapper .ss-slide-containar .ss-slide3{
  left: 200%;
}

.ss-slide-wrapper .ss-slide-containar .ss-slide4{
  left: 300%;
}


/* FOOTER */

footer .containar{
  width: 100%;
  height: 500px;
  background: rgba(0, 0, 0, .7);
}

footer .containar .inner{
  width: 1272px;
  margin: 0 auto;
  display: flex;
  gap: 200px;
  justify-content: space-between;
  align-items: center;
  padding-top: 54px;
  box-sizing: border-box;
}

footer .containar .inner .company img{
  margin-bottom: 50px;
}

footer .containar .inner .company ul{
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}

footer .containar .inner .company ul a{
  color: var(--white);
  font-weight: 700;
}

footer .containar .inner .call{
  font-size: var(--menu);
  font-weight: 700;
  margin-bottom: 20px;
}

footer .containar .inner .number em{
  font-size: var(--main);
  font-weight: 700;
  color: var(--primary);
  margin-right: 10px;
}

footer .containar .inner .sns{
  font-size: 40px;
  display: flex;
  gap: 60px;
  margin-top: 33px;
}

footer .containar .clause{
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 95px;
  position: relative;
}

footer .containar .clause a{
  font-size: 16px;
  color: var(--white);
}

footer .containar .center{
  text-align: center;
  margin: 52px;
}

footer .containar .clause:after{
  content: '';
  background: var(--white);
  width: 1272px;
  height: 1px;
  position: absolute;
  left: -50%;
  transform: translateX(100%);
  margin-top: 42px;
}
